.tabla{
    display: table;
    width: auto;
    height: auto;
}

.titulo{
    display: table-caption;
    text-align: left;
    font-weight: bold;
    font-size: larger;
}

.cabeza{
    display: table-row;
    text-align: left;
}

.fila{
    display: table-row;
}

.celda{
    display: table-cell;
}
.si{
    width: 20px; 
    height: 10px; 
    background: #13cf52;
    display: table-cell;
}
.no{
    width: 20px; 
    height: 10px; 
    background: #ade7ad;
    display: table-cell;
}